@charset "UTF-8";
* {
    margin: 0 auto;
    padding: 0 auto;
}

body, html {
    background-color: rgb(235, 235, 235);
    width: 100vw;
    height: 100%;
}

@font-face {
    font-family: 'Just';
    font-weight: bolder;
    font-style: normal;
    src: url('fonte/JustKingDemoRegular.ttf');
}

.menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 226, 226);
    text-decoration: none;
    padding: 3px;
    align-items: center;
    font-family: Just;
}

.menu li a {
    text-decoration: none;
    align-items: center;
    padding: 6px;
}

ul {
    list-style: none;
    display: flex;
    padding: 10px;
}

ul li :hover {
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    padding: 3px;
}
a {
    margin: 8px;
    color: rgb(103, 103, 103);
}
#titulo {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    background-color: rgb(226, 226, 226);
    height: 15vh;
    font-weight: bolder;
    font-size: 18pt;
    margin: 0;
    margin-top: 5px;
}

h1{
    font-family: Just;
    color: rgb(62, 62, 62);
    font
}

.ptitulo {
    text-align: center;
    font-weight: normal;
    font-size: 12pt;
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 5vh;
    margin: 0;
    margin-top: -6px;
    padding: 8px;
}


#primeira {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

#segunda {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
#terceira {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.fotocid {
    width: 50vw;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    box-shadow: 5px 5px 5px 2px rgb(122, 122, 122);
}

.coluna1 {
    width: 100%;
    height: 80%;
}

.pfotos {
    margin-top: 3%;
}

.textoimg {
    background-color: white;
    position: relative;
    justify-content: center;
}

.foto2 {
    width: 20vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 3px;
    margin: 0.8%;
    margin-top: 15px;
    display:inline-flex;
    box-shadow: 5px 5px 5px 2px rgb(122, 122, 122);
    
}

.pcasal {
    position: absolute;
    top: 300px;
}

.quemsomos {
    width: 98%;
    height: 50%;
    justify-content: center;
    position:absolute;
}

.dielari {
    width: 70%;
    height:50% ;
    margin-top: 25%;
    z-index: 10;
}

.fotocid {
    width: 40vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 1%;
}

.foto4 {
    width: 20vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding: 3px;
    margin-top: -59px;
    box-shadow: 5px 5px 5px 2px rgb(122, 122, 122);
}

.snapwidget-widget{
    padding: 3px;
    margin-top: 12px;
}

.pinsta{
    padding: 12px;
}

.foto5 {
    width: 20vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding: 3px;
    box-shadow:5px 5px 5px 2px rgb(122, 122, 122);
}

  .botoes {
      margin: 3%;
}

footer {
    height: 200px;
    height: 40px;
    min-width: 100%;
    background-color: grey;
    text-align: center;
    display: block;
    padding: 3px;
}

@media screen and (max-width: 414px) and (min-width: 376px) {
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
    }
    
    #titulo {
        width: 100vw;
        height: 8vh;
        font-size: 10pt;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 4vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        padding: 5px;
        word-wrap: break-word;
        margin-top: -8px;
        padding: 5px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }
    .fotocid{
        width: 375px;
        height: 350px;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .foto2{
        width: 375px;
    }

    .foto4{
        width: 375px;
        height: 760px;
        margin-top: 10px;
    }

    .foto5 {
        width: 375px;
        height: 350px;
        background-color: rgb(255, 255, 255);
        margin: 1%;
        padding: 3px;
    }

    .continuarlendo {
        margin-top: -15px;
    }

    .quemsomos {
        width: 100%;
        height: 40%;
        justify-content: center;    
    }

    .dielari {
        width: 70%;
        height:55% ;
        z-index: 10;
        margin-top: 4%;
    }

    .pcasal{
        margin-top: 40px;
    }

    .pfotos{
        margin-top: 0;
    }
   
    #primeira {
        display: flex;
        flex-wrap: wrap;
        top: 20px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 50px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 50px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }
}

@media screen and (max-width: 666px) and (min-width: 413px) {
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
    }
    
    #titulo {
        width: 100vw;
        height: 8vh;
        font-size: 10pt;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 4vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        padding: 5px;
        word-wrap: break-word;
        margin-top: -8px;
        padding: 5px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }
    .fotocid{
        width: 375px;
        height: 350px;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .foto2{
        width: 375px;
    }

    .foto4{
        width: 375px;
        height: 760px;
        margin-top: 10px;
    }

    .foto5 {
        width: 375px;
        height: 350px;
        background-color: rgb(255, 255, 255);
        margin: 1%;
        padding: 3px;
    }

    .continuarlendo {
        margin-top: -20x;
    }

    .quemsomos {
        width: 100%;
        height: 40%;
        justify-content: center;    
    }

    .dielari {
        width: 70%;
        height:65% ;
        z-index: 10;
        margin-top: 4%;
    }

    .pcasal{
        margin-top: 0;
    }
   
    #primeira {
        flex-wrap: wrap;
        top: 40px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 50px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 50px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }
}

@media screen and (min-width: 668px) and (max-width: 780px) {
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
    }
    
    #titulo {
        width: 100vw;
        height: 3vh;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 2vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        margin-top: -25px;
        padding: 30px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }
    .fotocid{
        width: 50%;
        height: 70vh;
        justify-content: center;
        position: relative;
    }

    .foto2 {
        width: 25vw;
        margin-top: 7px;
    }

    .foto4{
        width: 25vw;
        height: 450px;
    }

    .foto5{
        width: 25%;
        height: 450px;
        margin-top: -15px;
        margin-bottom: 10%;
    }

    .quemsomos {
        height: 60%;
        justify-content: center;    
    }

    .dielari {
        width: 100%;
        height:50% ;
        z-index: 10;
        margin: 0;
        margin-top: 40%;
    }

    .pcasal{
        margin-bottom: 5px;
        font-size: 12px;
    }

    .pfotos{
        margin-top: 0;
    }
    
    .botoes {
        margin: 3%;
    }
     
    #primeira {
        flex-wrap: wrap;
        top: 90px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 90px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 90px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }
}

@media screen and (min-width: 781px) and (max-width: 1024px) {
    *{
        margin: 0 auto;
    }
    h1{
        font-size: 25px;
    }

    .ptitulo{
        padding: 15px;
        margin-top: -15px;
        height: 2vh;
    }

    .fotocid{
        width: 45vw;
        height: 60vh;
    }

    .foto2{
        display: flex;
        width: 25vw;
        height: 40vh;
        justify-content: center;
    }

    .dielari{
        height: 70%;
        margin-top: 5px;
        position: absolute;
    }

    .pcasal{
        margin-top: -100px;
        font-size: 14px;
    }

    .foto4{
        width: 25vw;
        height: 90vh;
    }

    .foto5{
        width: 25vw;
        height: 60vh;
        margin-top: 7px;
    }

    #segunda{
        margin-top: 20px;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1160px) {
    .ptitulo{
        height: 5vh;
        margin-top: -20px;
        padding: 15px;
    }

    .foto4 {
         height: 80vh;
    }

    #segunda{
        margin-top: 50px;
    }

    .dielari {
        width: 85%;
        height: 65%;
        margin-top: 22px;
    }
 }

 @media screen and (min-width: 1025px) and (max-width: 1399px) {
    .ptitulo{
        height: 5vh;
        margin-top: -20px;
        padding: 15px;
    }

    .foto4 {
         height: 90vh;
    }

    #segunda{
        margin-top: 50px;
    }

    .dielari {
        width: 85%;
        height: 65%;
        margin-top: 22px;
    }
}


@media screen and (min-width: 1400px) and (max-width: 1580px) {
    .ptitulo{
        height: 5vh;
        margin-top: -15px;
        padding: 15px;
    }

    .foto4 {
        height: 100vh;
   }

   #primeira{
        margin-top: 80px;
   }

   #segunda{
       margin-top: 50px;
   }

   .dielari{
       height: 50%;
   }
}


    
