@charset "UTF-8";
* {
    margin: 0 auto;
    padding: 0 auto;
}

body, html {
    background-color: rgb(235, 235, 235);
    width: 100vw;
    height: 100%;
    font-size: 1.3rem;
}

@font-face {
    src: url(fonte/Saudagar.ttf);
    font-weight: normal;
    font-family: Saudagar;
}

.menu {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 226, 226);
    text-decoration: none;
    padding: 3px;
    align-items: center;
    font-family: 'Saudagar';
    font-size: 20pt;
}

.menu li a {
    text-decoration: none;
    align-items: center;
    padding: 3px;
}

ul {
    list-style: none;
    display: flex;
    padding: 3px;
}

ul li :hover {
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    padding: 3px;
}

a {
    margin: 8px;
    color: rgb(103, 103, 103);
}
#titulo {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    background-color: rgb(226, 226, 226);
    height: 15vh;
    font-weight: bolder;
    font-size: 18pt;
    margin: 0;
    margin-top: 5px;
}

h1 {
    font-family: 'Saudagar';
    color: rgb(62, 62, 62); 
}

#primeira {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

#segunda {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
#terceira {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.fotocid, .foto3 {
    width: 50vw;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    box-shadow: 5px 5px 5px 2px rgb(177, 177, 177);
}

.coluna1 {
    width: 100%;
    height: 80%;
}

.pfotos {
    margin-top: 3%;
    font-family: Saudagar;
    font-size: 1.5rem
}

.continuarlendo{
    font-family: Saudagar;
    font-size: 18pt;
}

.textoimg {
    background-color: white;
    position: relative;
    justify-content: center;
}

.foto2 {
    width: 20vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 3px;
    margin: 0.8%;
    margin-top: 15px;
    display:inline-flex;
    box-shadow: 5px 5px 5px 2px rgb(177, 177, 177); 
}

.pcasal {
    position: absolute;
    padding: 5px;
    top: 500px;
    text-align: justify;
    font-family: Saudagar;
    font-size: 1rem;
}

.quemsomos {
    width: 99%;
    height: 50%;
    position:absolute;
}

.dielari {
    width: 70%;
    height:50% ;
    margin-top: 25%;
    z-index: 10;
}

.fotocid {
    width: 40vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 1%;
}

.foto4 {
    width: 20vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding: 3px;
    margin-top: -59px;
    box-shadow: 5px 5px 5px 2px rgb(177, 177, 177);
}

.snapwidget-widget {
    padding: 3px;
    margin-top: 12px;
}

.pinsta {
    padding: 12px;
    font-family: Saudagar;
}

.foto5 {
    width: 20vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding: 3px;
    box-shadow:5px 5px 5px 2px rgb(177, 177, 177);
    font-family: Saudagar;
}

.parent {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 18vh 18vh 18vh;
    
}

.item {
    margin: 5px;
    background-color: rgb(72, 68, 137);
}



.item2 {
    max-width: 230px;
    max-height: 230px;
    margin: 5px;
}

.botoes {
    margin: 3%;
}

footer {
    height: 200px;
    height: 40px;
    min-width: 100%;
    background-color: grey;
    text-align: center;
    display: block;
    padding: 3px;
    font-size: 0.9rem;
    bottom: 0;
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
  }

@media screen and (max-width: 415px) and (min-width: 330px) {
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
        font-size: 10pt;
    }
    
    #titulo {
        width: 100vw;
        height: 8vh;
        font-size: 10pt;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 4vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        padding: 5px;
        word-wrap: break-word;
        margin-top: -8px;
        padding: 5px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }

    .fotocid{
        width: 375px;
        height: 350px;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .foto2{
        width: 375px;
        height: 375px;
    }

    .foto4{
        width: 375px;
        height: 780px;
        margin-top: 10px;
    }

    .foto5 {
        width: 375px;
        height: 350px;
        background-color: rgb(255, 255, 255);
        margin: 1%;
        padding: 3px;
    }

    .continuarlendo {
        width: 50%;
        height: 12%;
        margin-top: 4px;
        font-size: 0.7rem;
    }

    .quemsomos {
        width: 98.8%;
        height: 50%;
        justify-content: center;    
    }

    .dielari {
        width: 65%;
        height: 60% ;
        z-index: 10;
        margin-top: 20%;
    }

    .pcasal{
        margin-top: -185px;
        font-size: 0.8rem;
        text-align: center;
    }

    .pfotos{
        margin-top: -7px;
        padding: 3px;
        font-size: 15px;
    }
   
    #primeira {
        display: flex;
        flex-wrap: wrap;
        top: 20px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 50px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 50px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }
}

@media screen and (max-width: 540px) and (min-width: 415px) {
    
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
        font-size: 10pt;
    }
    
    #titulo {
        width: 100vw;
        height: 8vh;
        font-size: 10pt;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 4vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        padding: 5px;
        word-wrap: break-word;
        margin-top: -8px;
        padding: 5px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }
    .fotocid{
        width: 375px;
        height: 350px;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .foto2{
        width: 375px;
        height: 355px;
    }

    .foto4{
        width: 375px;
        height: 780px;
        margin-top: 10px;
    }

    .foto5 {
        width: 375px;
        height: 350px;
        background-color: rgb(255, 255, 255);
        margin: 1%;
        padding: 3px;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    .quemsomos {
        width: 100%;
        height: 40%;
        justify-content: center;    
    }

    .dielari {
        width: 60%;
        height: 65% ;
        z-index: 10;
        margin-top: 4%;
    }

    .pcasal {
        top: 250px;
        font-size: 0.8rem;
        text-align: center;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 15px;
    }
   
    #primeira {
        flex-wrap: wrap;
        top: 40px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 50px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 50px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }

   #back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}


@media screen and (max-width: 667px) and (min-width: 541px) {
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
        font-size: 12pt;
    }
    
    #titulo {
        width: 100vw;
        height: 8vh;
        font-size: 10pt;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 4vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        padding: 5px;
        word-wrap: break-word;
        margin-top: -8px;
        padding: 5px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }
    .fotocid{
        width: 375px;
        height: 350px;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .foto2{
        width: 375px;
        height: 355px;
    }

    .foto4{
        width: 375px;
        height: 780px;
        margin-top: 10px;
    }

    .foto5 {
        width: 375px;
        height: 350px;
        background-color: rgb(255, 255, 255);
        margin: 1%;
        padding: 3px;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    .quemsomos {
        width: 100%;
        height: 40%;
        justify-content: center;    
    }

    .dielari {
        width: 60%;
        height:65% ;
        z-index: 10;
        margin-top: 4%;
    }

    .pcasal{
        top: 260px;
        font-size: 0.8rem;
        text-align: center;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 15px;
    }
   
    #primeira {
        flex-wrap: wrap;
        top: 40px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 50px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 50px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }

   #back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 668px) and (max-width: 780px) {
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
        font-size: 12pt;
    }
    
    #titulo {
        width: 100vw;
        height: 8vh;
        font-size: 10pt;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 4vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        padding: 5px;
        word-wrap: break-word;
        margin-top: -8px;
        padding: 5px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }
    .fotocid{
        width: 550px;
        height: 450px;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .foto2{
        width: 550px;
        height: 450px;
    }

    .foto4{
        width: 550px;
        height: 1100px;
        margin-top: 10px;
    }

    .foto5 {
        width: 550px;
        height: 450px;
        background-color: rgb(255, 255, 255);
        margin: 1%;
        padding: 3px;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    .quemsomos {
        width: 100%;
        height: 40%;
        justify-content: center;    
    }

    .dielari {
        width: 60%;
        height:65% ;
        z-index: 10;
        margin-top: 4%;
    }

    .pcasal{
        top: 320px;
        font-size: 0.8rem;
        text-align: center;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 15px;
    }
   
    #primeira {
        flex-wrap: wrap;
        top: 40px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 50px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 50px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }

   #back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 781px) and (max-width: 1024px) {
   
    header {
        width: 100vw;
    }

    .menu {
        width: 100vw;
        font-size: 12pt;
    }
    
    #titulo {
        width: 100vw;
        height: 8vh;
        font-size: 10pt;
    }

    .ptitulo {
        justify-content: center;
        width: 100%;
        height: 4vh;
        font-size: 10pt;
        display: flex;
        overflow-wrap: normal;
        padding: 5px;
        word-wrap: break-word;
        margin-top: -8px;
        padding: 5px;
    }

    .coluna1 {
        width: 100%;
        height: 80%;
    }
    .fotocid{
        width: 550px;
        height: 450px;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .foto2{
        width: 550px;
        height: 450px;
    }

    .foto4{
        width: 550px;
        height: 1100px;
        margin-top: 10px;
    }

    .foto5 {
        width: 550px;
        height: 450px;
        background-color: rgb(255, 255, 255);
        margin: 1%;
        padding: 3px;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    .quemsomos {
        width: 100%;
        height: 40%;
        justify-content: center;    
    }

    .dielari {
        width: 60%;
        height:65% ;
        z-index: 10;
        margin-top: 4%;
    }

    .pcasal{
        top: 320px;
        font-size: 0.8rem;
        text-align: center;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 15px;
    }
   
    #primeira {
        flex-wrap: wrap;
        top: 40px;
    }

    #segunda {
        flex-wrap: wrap;
        top: 50px;
    }
    
    #terceira {
        flex-wrap: wrap;
        top: 50px;
        margin-bottom: 80px;
    }

   footer {
       display: flex;
       max-width: 100%;
       height: 15%;
       position: relative;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
   }

   #back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1160px) {
    h1{
        font-size: 45px;
    }

    .menu {
        width: 100vw;
        height: 8vh;
        font-size: 18pt;
    }

    .fotocid{
        width: 45vw;
        height: 55vh;
    }

    .foto2{
        margin-top: 10px;
        display: flex;
        width: 20vw;
        height: 55vh;
        justify-content: center;
    }

    .dielari{
        width: 70%;
        height: 35%;
        margin-top: 110px;
        position: absolute;
    }

    .pcasal{
        top: 280px;
        font-size: 14px;
    }

    .foto4{
        width: 20vw;
        height: 65vh;
        margin-top: -350px;
        font-size: 0.7rem;
        margin-top: -20px;
    }

    .foto5{
        width: 20vw;
        height: 35vh;
        margin-top: 7px;
        font-size: 0.7rem;
    }

    #segunda{
        margin-top: 20px;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 15px;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    footer {
        margin: 0 auto;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

 }

 @media screen and (min-width: 1161px) and (max-width: 1280px) {
    h1{
        font-size: 45px;
    }

    .menu {
        width: 100vw;
        height: 8vh;
        font-size: 18pt;
    }

    .fotocid{
        width: 55vw;
        height: 65vh;
    }

    .foto2{
        margin-top: 10px;
        display: flex;
        width: 20vw;
        height: 55vh;
        justify-content: center;
    }

    .dielari{
        width: 70%;
        height: 40%;
        margin-top: 75px;
        position: absolute;
    }

    .pcasal{
        top: 260px;
        font-size: 1rem;
        text-align: center;
    }

    .foto4{
        width: 20vw;
        height: 70vh;
        margin-top: -30px;
        font-size: 1.2rem;
    }

    .foto5{
        width: 20vw;
        height: 60vh;
        margin-top: 50px;
        font-size: 1.2rem;
    }

    #segunda{
        margin-top: 20px;
    }

    #terceira {
        margin-top: 30px;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 1.2rem;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    footer {
        margin: 0 auto;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

 }

 @media screen and (min-width: 1281px) and (max-width: 1399px) {
    h1{
        font-size: 45px;
    }

    .menu {
        width: 100vw;
        height: 8vh;
        font-size: 18pt;
    }

    #terceira {
        margin-top: -55px;
    }

    .fotocid{
        width: 55vw;
        height: 70vh;
        margin-bottom: 80px;
    }

    .foto2{
        margin-top: 13px;
        display: flex;
        width: 25vw;
        height: 65vh;
        justify-content: center;
    }

    .dielari{
        width: 65%;
        height: 45%;
        margin-top: 85px;
        position: absolute;
    }

    .pcasal{
        top: 360px;
        font-size: 1rem;
        text-align: center;
    }

    .foto4{
        width: 25vw;
        height: 90vh;
        margin-top: -40px;
        font-size: 1rem;
       
    }

    .foto5{
        width: 25vw;
        height: 64.3vh;
        margin-top: 60px;
        font-size: 1rem;
    }

    #segunda{
        margin-top: 20px;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 1.2rem;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    footer {
        margin: 0 auto;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

 }

@media screen and (min-width: 1400px) and (max-width: 1580px) {
    h1{
        font-size: 45px;
    }

    .menu {
        width: 100vw;
        height: 8vh;
        font-size: 18pt;
    }

    #terceira {
        margin-top: -55px;
    }

    .fotocid{
        width: 45vw;
        height: 70vh;
    }
    .foto2{
        margin-top: 13px;
        display: flex;
        width: 25vw;
        height: 65vh;
        justify-content: center;
    }

    .dielari {
        width: 60%;
        height: 45%;
        margin-top: 85px;
        position: absolute;
    }

    .pcasal {
        top: 350px;
        font-size: 1rem;
        text-align: center;
    }

    .foto4 {
        width: 25vw;
        height: 98vh;
        margin-top: -50px;
        font-size: 1rem;
    }

    .foto5 {
        width: 25vw;
        height: 69.3vh;
        margin-top: 60px;
        font-size: 1rem;
    }

    #segunda{
        margin-top: 20px;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 1.2rem;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    footer {
        margin: 0 auto;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


@media screen and (max-width: 1700px) and (min-width: 1581px) {
    h1{
        font-size: 45px;
    }

    .menu {
        width: 100vw;
        height: 8vh;
        font-size: 18pt;
    }

    #terceira {
        margin-top: -55px;
    }

    .fotocid{
        width: 45vw;
        height: 75vh;
    }

    .foto2{
        margin-top: 18px;
        display: flex;
        width: 20vw;
        height: 65vh;
        justify-content: center;
    }

    .dielari {
        width: 68%;
        height: 42%;
        margin-top: 95px;
        position: absolute;
    }

    .pcasal {
        top: 350px;
        font-size: 1rem;
        text-align: center;
    }

    .foto4 {
        width: 20vw;
        height: 98vh;
        margin-top: -50px;
        font-size: 1rem;
    }

    .foto5 {
        width: 20vw;
        height: 69.3vh;
        margin-top: 62px;
        font-size: 1rem;
    }

    #segunda{
        margin-top: 20px;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 1.2rem;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    footer {
        margin: 0 auto;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 2200px) and (min-width: 1701px) {
    h1{
        font-size: 45px;
    }

    .menu {
        width: 100vw;
        height: 8vh;
        font-size: 18pt;
    }

    #terceira {
        margin-top: -55px;
    }

    .fotocid{
        width: 40vw;
        height: 75vh;
    }

    .foto2{
        margin-top: 18px;
        display: flex;
        width: 16vw;
        height: 65vh;
        justify-content: center;
    }

    .dielari {
        width: 68%;
        height: 40%;
        margin-top: 105px;
        position: absolute;
    }

    .pcasal {
        top: 350px;
        font-size: 1rem;
        text-align: center;
    }

    .foto4 {
        width: 16vw;
        height: 98vh;
        margin-top: -50px;
        font-size: 1rem;
    }

    .foto5 {
        width: 16vw;
        height: 69.3vh;
        margin-top: 62px;
        font-size: 1rem;
    }

    #segunda{
        margin-top: 20px;
    }

    .pfotos {
        margin-top: -7px;
        padding: 3px;
        font-size: 1.2rem;
    }

    .continuarlendo {
        margin-top: -200px;
        font-size: 0.7rem;
    }

    footer {
        margin: 0 auto;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


    
