@charset "UTF-8";
*{
    margin: 0 auto;
}

body, html{
    background-color: rgb(235, 235, 235);
    width: 100vw;
    height: 100%;
}

.menu{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 226, 226);
    text-decoration: none;
    padding: 10px;
}

.menu li a{
    text-decoration: none;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
}

ul li :hover{
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    padding: 3px;
}
a{
    margin: 8px;
    color: rgb(103, 103, 103);
}
#titulo{
    width: 100vw;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    background-color: rgb(226, 226, 226);
    height: 5vh;
    font-weight: bolder;
    font-size: 18pt;
}

.ptitulo{
    text-align: center;
    font-weight: normal;
    font-size: 12pt;
    background-color: rgb(226, 226, 226);
    width: 100vw;
    height: 5vh;
    margin: 0;
}


#primeira{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}
#segunda{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
#terceira{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
.foto1{
    width: 40vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 10px;
   
   
}

.coluna1{
    width: 100%;
    height: 80%;
}
.pfotos{
    margin-top: 3%;
}

.textoimg{
    background-color: white;
    position: relative;
    justify-content: center;
}

.foto2{
    width: 15vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 3px;
    margin: 0.8%;
    display:inline-flex;
    
    
}
.pcasal{
    position: absolute;
    top: 300px;
}

.quemsomos{
    width: 98%;
    height: 50%;
    justify-content: center;
    position:absolute;
    
}
.dielari{
    width: 70%;
    height:40% ;
    margin-top: 30%;
    z-index: 10;
}

.foto3{
    width: 40vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 1%;
    
}
.foto4{
    width: 15vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding: 3px;
  }

  .botoes{
      margin: 3%;
  }

footer {
    height: 200px;
    min-width: 100%;
    background-color: grey;
    text-align: center;
  
    
}

@media (max-width: 1468px){
    #primeira{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 667px) and (min-width: 375px){
    header{
        width: 100vw;
        
    }

    .menu{
        width: 100vw;
    }
    
    #titulo{
        width: 100vw;
        height: 3vh;
    }

    .ptitulo{
        justify-content: center;
        width: 90vw;
        height: 8vh;
        font-size: 10pt;
        display: flex;
       overflow-wrap: normal;
    }


    .coluna1{
        width: 100%;
        height: 80%;
    }
    .foto1{
        width: 375px;
        height: 350px;
        justify-content: center;
        position: relative;
    }

    .foto2{
        max-width: 375px;
        max-height: 350px;
        width: auto;
        height: auto;
        justify-content: center;
        position: relative;
    }

    .quemsomos{
        
        width: 100%;
        height: 40%;
        justify-content: center;
        
        
    }

    .dielari{
        width: 60%;
        height:80% ;
        z-index: 10;
        margin-top: 4%;
    }

    .pcasal{
        width: 70%;
        top:80%;

    }
    .bot .botoes{
        margin: 3%;
    }
    

    
    #segunda{
        flex-wrap: wrap;

    }
    
    .foto3{
        width: 375px;
        height: 350px;
        justify-content: center;
        position: relative;
    }
   .foto4{
    width: 375px;
    height: 350px;
    justify-content: center;
    position: relative;
   }

   footer{
       max-width: 100%;
       position: relative;
       margin: 0 auto;
   }
}